html {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*####################################### Header #########################################*/

.header-con {
  background-image: url(./images/misc/home-bg.jpg);
  background-position: top left;
  background-size: cover;
}

.header-wrapper {
  height: 400px;
}

.navbar-con {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 55px;
  margin-top: 20px;
}

@media (max-width: 950px) {
  .logo {
    width: 100px;
    margin-left: 42px;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 85px;
    margin-left: 47px;
  }
}

.signin-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #e50914;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-right: 58px;
}

@media (max-width: 950px) {
  .signin-btn {
    margin-right: 38px;
  }
}

@media (max-width: 550px) {
  .signin-btn {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    margin-right: 28px;
  }
}

.feature-title {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  margin-top: 120px;
}

@media (max-width: 550px) {
  .feature-title {
    font-size: 30px;
  }
}

.feature-sub {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 550px) {
  .feature-sub {
    font-size: 18px;
  }
}

.optform-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .optform-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.optform-text {
  color: #ffffff;
  text-align: center;
  font-size: 19px;
}

@media (max-width: 950px) {
  .optform-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.optform-email {
  padding: 10px 20px;
  width: 450px;
  height: 60px;
  font-size: 15px;
}

@media (max-width: 950px) {
  .optform-email {
    margin-bottom: 20px;
    width: 75%;
  }
}

.optform-btn {
  background-color: #e50914;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding: 15px 40px;
  margin-bottom: 150px;
}

@media (max-width: 950px) {
  .optform-btn {
    width: max-content;
    padding: 10px 25px;
    font-size: 20px;
  }
}

/*##################################### Jumbo #######################################*/

.jumbo-title {
  color: #ffffff;
  font-size: 45px;
  width: 90%;
  margin-bottom: 1px;
}

@media (max-width: 950px) {
  .jumbo-title {
    width: initial;
    font-size: 35px;
  }
}

@media (max-width: 550px) {
  .jumbo-title {
    width: initial;
    font-size: 30px;
  }
}

.jumbo-sub {
  color: #ffffff;
  width: 80%;
  font-size: 25px;
}

@media (max-width: 950px) {
  .jumbo-sub {
    width: initial;
    font-size: 20px;
  }
}

.jumbo-text-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 950px) {
  .jumbo-text-wrapper {
    width: initial;
    text-align: center;
  }
}

.jumbo-image-wrapper {
  width: 50%;
  text-align: center;
}

@media (max-width: 950px) {
  .jumbo-image-wrapper {
    width: initial;
  }
}

.jumbo-img {
  width: 100%;
}

@media (max-width: 550px) {
  .home-mobile {
    width: 70%;
  }
}

.jumbo-item {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}

@media (max-width: 950px) {
  .jumbo-item {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .jumbo-item {
    padding: 30px 50px;
  }
}

.seperator {
  border-bottom: 8px solid rgb(56, 56, 56);
}

/*################################ FAQ ########################################*/

.acc-title {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 950px) {
  .acc-title {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .acc-title {
    font-size: 13px;
  }
}

.acc-header {
  color: #ffffff;
  font-size: 25px;
  background-color: rgb(41, 41, 41);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0.3%;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .acc-header {
    margin-left: 11%;
    margin-right: 11%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .acc-header {
    margin-left: initial;
    margin-right: initial;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
}

.acc-header img {
  width: 23px;
  filter: brightness(0) invert(1);
  float: right;
  margin-right: 30px;
  cursor: pointer;
}

.acc-body {
  color: #ffffff;
  font-size: 20px;
  background-color: rgb(41, 41, 41);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0.5%;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

@media (max-width: 950px) {
  .acc-body {
    margin-left: 11%;
    margin-right: 11%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17.5px;
  }
}

@media (max-width: 550px) {
  .acc-body {
    margin-right: initial;
    margin-left: initial;
  }
}

.optform-text {
  margin-top: 80px;
}

/*###################################### Footer ######################################*/

.footer-wrapper {
  margin-bottom: 60px;
  padding: 30px 50px;
}

.footer-title {
  color: #757575;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.footer-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-link {
  color: #757575;
  font-size: 13px;
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .footer-row {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .footer-row {
    width: 100%;
  }
}

.footer-column {
  line-height: 30px;
}

@media (max-width: 900px) {
  .footer-column {
    width: 40%;
  }
}

/*###################################### Sign In ##############################################*/

.header-con-signin {
  background-image: url(./images/misc/home-bg.jpg);
  background-position: top left;
  background-size: cover;
  height: 840px;
  padding-top: 30px;
}

@media (max-width: 740px) {
  .header-con-signin {
    background-image: none;
  }
}

.logo-signin {
  margin-left: 54px;
}

@media (max-width: 740px) {
  .logo-signin {
    width: 100px;
    margin-left: 25px;
  }
}

.signform-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 740px) {
  .signform-wrapper {
    display: initial;
  }
}

.signform-base {
  background-color: #000000;
  width: 450px;
  padding: 50px;
  border-radius: 5px;
  height: 580px;
  opacity: 0.75;
}

@media (max-width: 740px) {
  .signform-base {
    width: initial;
    padding: 20px;
  }
}

.signform-title {
  color: #ffffff;
  font-size: 20px;
  width: 100%;
}

.signform-input {
  width: 100%;
  border: none;
}

.signform-input input {
  width: 95%;
  height: 50px;
  padding: 20px 20px;
  background-color: rgb(102, 101, 101);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 20px;
}

::placeholder {
  color: #a6a6a6;
}

@media (max-width: 740px) {
  .signform-input {
    width: 105%;
  }
}

.signform-btn {
  width: 95%;
  background-color: #e50914;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 740px) {
  .signform-btn {
    width: 100%;
  }
}

.signform-text {
  color: #757575;
  display: inline-block;
  margin-right: 7px;
  margin-top: 40px;
}

@media (max-width: 740px) {
  .signform-text {
    margin-top: 40px;
  }
}

.signform-link {
  display: inline-block;
  margin-top: 40px;
}

.signform-link a {
  text-decoration: none;
  color: #ffffff;
}

.signform-link a:hover {
  text-decoration: underline;
}

@media (max-width: 740px) {
  .signform-link {
    margin-top: 40px;
  }
}

.signform-captcha {
  color: #757575;
  font-size: 13px;
  width: 280px;
  margin-top: 50px;
}

@media (max-width: 740px) {
  .signform-captcha {
    margin-top: 80px;
    width: initial;
  }
}

.learn-more {
  text-decoration: none;
  color: rgb(32, 115, 223);
}

.learn-more:hover {
  text-decoration: underline;
}

/*######################################## Browse #############################################*/

.browse-first-part {
  background: url(/images/misc/irishman.jpg) center top / cover no-repeat;
  padding-top: 30px;
}

.browse-navbar {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding-bottom: 130px;
}

@media screen and (max-width: 550px) {
  .browse-navbar {
    margin-left: 20px;
    margin-top: -12px;
  }
}

.browse-logo {
  margin-right: 30px;
}

@media screen and (max-width: 550px) {
  .browse-logo {
    margin-right: 20px;
  }
}

.browse-navbar-text {
  margin-bottom: 10px;
}

.browse-films {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .browse-films {
    font-size: 16px;
    margin-right: 35px;
  }
}

.browse-series {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .browse-series {
    font-size: 16px;
  }
}

.browse-header {
  padding-left: 50px;
  margin-top: -10px;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .browse-header {
    padding-left: 17px;
  }
}

.browse-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  text-shadow: rgb(0 0 0 / 45%) 2px 2px 4px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 550px) {
  .browse-title {
    font-size: 30px;
  }
}

.browse-subtitle {
  color: #ffffff;
  font-size: 22px;
  width: 630px;
  text-shadow: rgb(0 0 0 / 45%) 2px 2px 4px;
  margin-top: -35px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  .browse-subtitle {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .browse-subtitle {
    margin-top: -15px;
    font-size: 18px;
  }
}

.browse-header-play-button {
  box-shadow: rgb(0 0 0 / 35%) 0px 0.6vw 1vw -0.4vw;
  background-color: rgb(230, 230, 230);
  border-width: 0px;
  padding: 10px 35px;
  border-radius: 5px;
  max-width: 130px;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 200px;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.4s ease 0s;
  outline: 0px;
}

.browse-header-play-button:hover {
  background-color: #ff1a1a;
  color: #ffffff;
}

@media screen and (max-width: 550px) {
  .browse-header-play-button {
    margin-top: 10px;
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.video {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  z-index: 9997;
}

@media screen and (max-width: 768px) {
  .video {
    width: 100%;
  }
}

.browse-movies {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  width: 100%;
}

@media screen and (max-width: 1105px) {
  .browse-movies {
    padding-left: 120px;
  }
}

@media screen and (max-width: 650px) {
  .browse-movies {
    padding-left: 50px;
  }
}

.browse-drama {
  margin-bottom: 50px;
}

.browse-drama-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.browse-drama-movies {
}

@media screen and (max-width: 650px) {
  .browse-drama-movies {
    display: flex;
    flex-direction: column;
  }
}

.browse-drama-pic {
  width: 19%;
  margin-right: 10px;
}

@media screen and (max-width: 1105px) {
  .browse-drama-pic {
    width: 17%;
  }
}

@media screen and (max-width: 650px) {
  .browse-drama-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.browse-drama-pic:hover {
  transform: scale(1.2);
}

.browse-thriller {
  margin-bottom: 50px;
}

.browse-thriller-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.browse-thriller-movies {
}

@media screen and (max-width: 650px) {
  .browse-thriller-movies {
    display: flex;
    flex-direction: column;
  }
}

.browse-thriller-pic {
  width: 19%;
  margin-right: 10px;
}

@media screen and (max-width: 1105px) {
  .browse-thriller-pic {
    width: 17%;
  }
}

@media screen and (max-width: 650px) {
  .browse-thriller-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.browse-thriller-pic:hover {
  transform: scale(1.2);
}

.browse-children {
  margin-bottom: 50px;
}

.browse-children-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.browse-children-movies {
}

@media screen and (max-width: 650px) {
  .browse-children-movies {
    display: flex;
    flex-direction: column;
  }
}

.browse-children-pic {
  width: 19%;
  margin-right: 10px;
}

@media screen and (max-width: 1105px) {
  .browse-children-pic {
    width: 17%;
  }
}

@media screen and (max-width: 650px) {
  .browse-children-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.browse-children-pic:hover {
  transform: scale(1.2);
}

.browse-suspense {
  margin-bottom: 50px;
}

.browse-suspense-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.browse-suspense-movies {
}

@media screen and (max-width: 650px) {
  .browse-suspense-movies {
    display: flex;
    flex-direction: column;
  }
}

.browse-suspense-pic {
  width: 19%;
  margin-right: 10px;
}

@media screen and (max-width: 1105px) {
  .browse-suspense-pic {
    width: 17%;
  }
}

@media screen and (max-width: 650px) {
  .browse-suspense-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.browse-suspense-pic:hover {
  transform: scale(1.2);
}

.browse-romance {
  margin-bottom: 50px;
}

.browse-romance-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.browse-romance-movies {
}

@media screen and (max-width: 650px) {
  .browse-romance-movies {
    display: flex;
    flex-direction: column;
  }
}

.browse-romance-pic {
  width: 19%;
  margin-right: 10px;
}

@media screen and (max-width: 1105px) {
  .browse-romance-pic {
    width: 17%;
  }
}

@media screen and (max-width: 650px) {
  .browse-romance-pic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.browse-romance-pic:hover {
  transform: scale(1.2);
}

/* ***************** Fight Club Styles *********************** */

.browse-drama-fight-club {
}

.browse-drama-fight-club-desc {
  background: url(/images/films/drama/fight-club/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-tiger-king-desc {
  background: url(/images/series/documentaries/tiger-king/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-fight-club-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-fight-club-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-fight-club-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-fight-club-subtitle {
    width: 270px;
  }
}

.browse-drama-fight-club-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-fight-club-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** The Prestige Styles *********************** */

.browse-drama-the-prestige {
}

.browse-drama-the-prestige-desc {
  background: url(/images/films/drama/the-prestige/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-citizenfour-desc {
  background: url(/images/series/documentaries/citizenfour/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-prestige-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-the-prestige-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-the-prestige-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-the-prestige-subtitle {
    width: 270px;
  }
}

.browse-drama-the-prestige-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-the-prestige-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** The Social Network Styles *********************** */

.browse-drama-the-social-network {
}

.browse-drama-the-social-network-desc {
  background: url(/images/films/drama/the-social-network/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-man-on-wire-desc {
  background: url(/images/series/documentaries/man-on-wire/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-social-network-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-the-social-network-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-the-social-network-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-the-social-network-subtitle {
    width: 270px;
  }
}

.browse-drama-the-social-network-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-the-social-network-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** The Revenant Styles *********************** */

.browse-drama-the-revenant {
}

.browse-drama-the-revenant-desc {
  background: url(/images/films/drama/the-revenant/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-super-size-me-desc {
  background: url(/images/series/documentaries/super-size-me/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-revenant-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-the-revenant-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-the-revenant-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-the-revenant-subtitle {
    width: 270px;
  }
}

.browse-drama-the-revenant-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-the-revenant-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Kings Speech Styles *********************** */

.browse-drama-kings-speech {
}

.browse-drama-kings-speech-desc {
  background: url(/images/films/drama/kings-speech/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-amanda-knox-desc {
  background: url(/images/series/documentaries/amanda-knox/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-kings-speech-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-kings-speech-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-kings-speech-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-kings-speech-subtitle {
    width: 270px;
  }
}

.browse-drama-kings-speech-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-kings-speech-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Night Crawler Styles *********************** */

.browse-drama-night-crawler {
}

.browse-drama-night-crawler-desc {
  background: url(/images/films/thriller/nightcrawler/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-south-park-desc {
  background: url(/images/series/comedies/south-park/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-night-crawler-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-night-crawler-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-night-crawler-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-night-crawler-subtitle {
    width: 270px;
  }
}

.browse-drama-night-crawler-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-night-crawler-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** The Silence Of The Lambs Styles *********************** */

.browse-drama-the-silence-of-the-lambs {
}

.browse-drama-the-silence-of-the-lambs-desc {
  background: url(/images/films/thriller/the-silence-of-the-lambs/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-curb-your-enthusiasm-desc {
  background: url(/images/series/comedies/curb-your-enthusiasm/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-silence-of-the-lambs-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-the-silence-of-the-lambs-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-the-silence-of-the-lambs-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-the-silence-of-the-lambs-subtitle {
    width: 270px;
  }
}

.browse-drama-the-silence-of-the-lambs-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-the-silence-of-the-lambs-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Black Swan Styles *********************** */

.browse-drama-black-swan {
}

.browse-drama-black-swan-desc {
  background: url(/images/films/thriller/black-swan/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-arrested-development-desc {
  background: url(/images/series/comedies/arrested-development/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-black-swan-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-black-swan-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-black-swan-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-black-swan-subtitle {
    width: 270px;
  }
}

.browse-drama-black-swan-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-black-swan-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Joker Styles *********************** */

.browse-drama-joker {
}

.browse-drama-joker-desc {
  background: url(/images/films/thriller/joker/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-office-desc {
  background: url(/images/series/comedies/the-office/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-joker-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-joker-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-joker-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-joker-subtitle {
    width: 270px;
  }
}

.browse-drama-joker-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-joker-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** A Quiet Place Styles *********************** */

.browse-drama-a-quiet-place {
}

.browse-drama-a-quiet-place-desc {
  background: url(/images/films/thriller/a-quiet-place/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-family-guy-desc {
  background: url(/images/series/comedies/family-guy/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-a-quiet-place-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-a-quiet-place-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-a-quiet-place-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-a-quiet-place-subtitle {
    width: 270px;
  }
}

.browse-drama-a-quiet-place-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-a-quiet-place-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Hotel Transylvania Styles *********************** */

.browse-drama-hotel-transylvania {
}

.browse-drama-hotel-transylvania-desc {
  background: url(/images/films/children/hotel-transylvania/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-dora-the-explorer-desc {
  background: url(/images/series/children/dora-the-explorer/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-hotel-transylvania-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-hotel-transylvania-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-hotel-transylvania-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-hotel-transylvania-subtitle {
    width: 270px;
  }
}

.browse-drama-hotel-transylvania-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-hotel-transylvania-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Spirited Away Styles *********************** */

.browse-drama-spirited-away {
}

.browse-drama-spirited-away-desc {
  background: url(/images/films/children/spirited-away/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-arthur-desc {
  background: url(/images/series/children/arthur/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-spirited-away-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-spirited-away-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-spirited-away-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-spirited-away-subtitle {
    width: 270px;
  }
}

.browse-drama-spirited-away-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-spirited-away-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Up Styles *********************** */

.browse-drama-up {
}

.browse-drama-up-desc {
  background: url(/images/films/children/up/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-spongebob-desc {
  background: url(/images/series/children/spongebob/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-up-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-up-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-up-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-up-subtitle {
    width: 270px;
  }
}

.browse-drama-up-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-up-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Frozen Styles *********************** */

.browse-drama-frozen {
}

.browse-drama-frozen-desc {
  background: url(/images/films/children/frozen/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-paw-patrol-desc {
  background: url(/images/series/children/paw-patrol/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-frozen-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-frozen-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-frozen-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-frozen-subtitle {
    width: 270px;
  }
}

.browse-drama-frozen-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-frozen-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Despicable Me Styles *********************** */

.browse-drama-despicable-me {
}

.browse-drama-despicable-me-desc {
  background: url(/images/films/children/despicable-me/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-peppa-pig-desc {
  background: url(/images/series/children/peppa-pig/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-despicable-me-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-despicable-me-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-despicable-me-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-despicable-me-subtitle {
    width: 270px;
  }
}

.browse-drama-despicable-me-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-despicable-me-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Shutter Island Styles *********************** */

.browse-drama-shutter-island {
}

.browse-drama-shutter-island-desc {
  background: url(/images/films/suspense/shutter-island/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-innocent-man-desc {
  background: url(/images/series/crime/the-innocent-man/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-shutter-island-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-shutter-island-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-shutter-island-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-shutter-island-subtitle {
    width: 270px;
  }
}

.browse-drama-shutter-island-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-shutter-island-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Seven Styles *********************** */

.browse-drama-seven {
}

.browse-drama-seven-desc {
  background: url(/images/films/suspense/seven/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-long-shot-desc {
  background: url(/images/series/crime/long-shot/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-seven-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-seven-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-seven-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-seven-subtitle {
    width: 270px;
  }
}

.browse-drama-seven-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-seven-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Prisoners Styles *********************** */

.browse-drama-prisoners {
}

.browse-drama-prisoners-desc {
  background: url(/images/films/suspense/prisoners/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-making-a-murderer-desc {
  background: url(/images/series/crime/making-a-murderer/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-prisoners-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-prisoners-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-prisoners-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-prisoners-subtitle {
    width: 270px;
  }
}

.browse-drama-prisoners-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-prisoners-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Zodiac Styles *********************** */

.browse-drama-zodiac {
}

.browse-drama-zodiac-desc {
  background: url(/images/films/suspense/zodiac/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-confession-killer-desc {
  background: url(/images/series/crime/the-confession-killer/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-zodiac-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-zodiac-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-zodiac-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-zodiac-subtitle {
    width: 270px;
  }
}

.browse-drama-zodiac-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-zodiac-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Gone Girl Styles *********************** */

.browse-drama-gone-girl {
}

.browse-drama-gone-girl-desc {
  background: url(/images/films/suspense/gone-girl/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-staircase-desc {
  background: url(/images/series/crime/the-staircase/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-gone-girl-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-gone-girl-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-gone-girl-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-gone-girl-subtitle {
    width: 270px;
  }
}

.browse-drama-gone-girl-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-gone-girl-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** La La Land Styles *********************** */

.browse-drama-la-la-land {
}

.browse-drama-la-la-land-desc {
  background: url(/images/films/romance/la-la-land/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-school-of-rock-desc {
  background: url(/images/series/feel-good/school-of-rock/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-la-la-land-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-la-la-land-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-la-la-land-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-la-la-land-subtitle {
    width: 270px;
  }
}

.browse-drama-la-la-land-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-la-la-land-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Titanic Styles *********************** */

.browse-drama-titanic {
}

.browse-drama-titanic-desc {
  background: url(/images/films/romance/titanic/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-juno-desc {
  background: url(/images/series/feel-good/juno/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-titanic-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-titanic-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-titanic-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-titanic-subtitle {
    width: 270px;
  }
}

.browse-drama-titanic-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-titanic-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** A Star Is Born Styles *********************** */

.browse-drama-a-star-is-born {
}

.browse-drama-a-star-is-born-desc {
  background: url(/images/films/romance/a-star-is-born/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-good-will-hunting-desc {
  background: url(/images/series/feel-good/good-will-hunting/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-a-star-is-born-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-a-star-is-born-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-a-star-is-born-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-a-star-is-born-subtitle {
    width: 270px;
  }
}

.browse-drama-a-star-is-born-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-a-star-is-born-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** The Notebook Styles *********************** */

.browse-drama-the-notebook {
}

.browse-drama-the-notebook-desc {
  background: url(/images/films/romance/the-notebook/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-midnight-in-paris-desc {
  background: url(/images/series/feel-good/midnight-in-paris/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-the-notebook-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-the-notebook-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-the-notebook-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-the-notebook-subtitle {
    width: 270px;
  }
}

.browse-drama-the-notebook-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-the-notebook-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* ***************** Blue Valentine Styles *********************** */

.browse-drama-blue-valentine {
}

.browse-drama-blue-valentine-desc {
  background: url(/images/films/romance/blue-valentine/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-forrest-gump-desc {
  background: url(/images/series/feel-good/forrest-gump/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-blue-valentine-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-blue-valentine-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-blue-valentine-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-blue-valentine-subtitle {
    width: 270px;
  }
}

.browse-drama-blue-valentine-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-blue-valentine-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}

/* seris /

/* ***************** Blue Valentine Styles *********************** */

.browse-drama-blue-valentine {
}

.browse-drama-blue-valentine-desc {
  background: url(/images/films/romance/blue-valentine/large.jpg);
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  height: 360px;
}

.browse-drama-blue-valentine-title-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-drama-blue-valentine-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.browse-drama-blue-valentine-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 500px;
}

@media screen and (max-width: 650px) {
  .browse-drama-blue-valentine-subtitle {
    width: 270px;
  }
}

.browse-drama-blue-valentine-close-icon-wrapper {
  margin-right: 20px;
  margin-top: -10px;
}

.browse-drama-blue-valentine-close-icon {
  filter: brightness(0) invert(1);
  width: 24px;
}
