html {
    background-color: #000000;
}

.header-con {
    background-image: url(./images/misc/home-bg.jpg);
    background-position: top left;
    background-size: cover;
    height: 600px;
    border: 3px solid red;
}

.header-wrapper {
    border: 3px solid green;
    height: 400px;
}

.navbar-con {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 55px;
    margin-bottom: 20px;
}

.signin-btn {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background-color: #E50914;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 58px;
}